/* HTMLとBODYのマージンをリセット */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 既存のスタイル */
body {
  font-family: serif;
  background-color: rgb(255, 255, 255);
  color: #545353;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 56, 46); /* 深緑の背景 */
  color: rgb(255, 255, 255);
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header .home-link {
  display: block;
}

header .home-link img {
  width: 50px; /* 画像の幅を設定 */
  height: auto; /* アスペクト比を維持 */
  cursor: pointer;
  transition: transform 0.3s ease;
}

header .home-link img:hover {
  transform: scale(1.1); /* ホバー時に拡大 */
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
}

#searchBox {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto 20px;
  display: block;
  border: 1px solid #dddddd;
  border-radius: 20px;
  font-size: 1rem;
}

.search-suggestions {
  text-align: center;
  margin-top: 10px;
}
.suggestion {
  display: inline-block;
  padding: 8px 15px;
  margin: 5px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9rem;
}
.suggestion:hover {
  background-color: #ddd;
}
#cakeList {
  list-style: none;
  padding: 0;
}

.cake-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cake-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cake-item h3 {
  margin: 0 0 10px;
  font-size: 1.25rem;
  color: #2c3e50;
}

.cake-item p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

/* 戻るボタンのスタイル */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 1000;
}

.back-to-top img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.back-to-top:hover img {
  transform: scale(1.1);
}

.back-to-top.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: rgb(0, 56, 46);
  text-align: center;
  color: #f4f4f4;
  padding: 40px;
}
